<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | New Match</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="static/css/style.css">

    <script src="static/js/app.js"></script>
</head>
<body>
<header class="header">
    {% include 'nav.html' %}
</header>
<main>
    <div class="container">
        <div>
            <h1>Start new match</h1>
            <div class="new-match-image"></div>
            <div class="form-container center">                <form method="post" action="/new-match">
                    {% if error %}
                        <p class="form-error">{{ error }}</p>
                    {% endif %}
                    <label class="label-player" for="playerOne">Player one</label>
                    <input class="input-player" id="playerOne" name="playerOne" placeholder="Name" type="text" required title="Enter a name">
                    
                    <label class="label-player" for="playerTwo">Player two</label>
                    <input class="input-player" id="playerTwo" name="playerTwo" placeholder="Name" type="text" required title="Enter a name">
                    
                    <input class="btn btn-primary" type="submit" value="Start">
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    {% include 'footer.html' %}
</footer>
</body>
</html>
